//
// - - - - - - - - - - Mixins - - - - - - - - - - //
//

@mixin center {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin button {
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  color: white;
  padding: 10px;
}

@mixin linkButton {
  display: inline-block;
  width: 20px;
  height: 20px;
}

@mixin bgTrans {
  transition: background-color 800ms ease-in-out;
}

@mixin colorTrans {
  transition: color 800ms ease-in-out;
}

@mixin link {
  text-align: left;
  text-decoration: none;
}
