@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap');

//
// - - - - - - - - - - Colors - - - - - - - - - - //
//

//
// - - - - - - - - - - Typography - - - - - - - - - - //
//

$sansFont: 'Spartan', sans-serif;

//
// - - - - - - - - - - Media Sizes - - - - - - - - - - //
//

$xs: 320px;
$sm: 500px;
$med: 768px;
$lg: 1024px;
$xl: 1200px;
