@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@300;400;500&display=swap');

//
// - - - - - - - - - - Base Styles - - - - - - - - - - //
//

.loading {
  text-align: center;
  @include center;
  white-space: nowrap;
  color: white;
}

#text,
#author {
  @include colorTrans;
}

#text {
  font-weight: 500;
}
